@model TipoCuenta


@{

    ViewData["Title"] = "Borrar tipo Cuenta";
}

<h1 class="ab-3">¿Está seguro que desea borrar el tipo cuenta @Model.Nombre?</h1>

<form asp-controller="TiposCuentas" asp-action="BorrarTipoCuenta">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>
